$mobile: 1000px;

.wrap {
  display: none;

  font-family: "sans-serif";
  text-align: center;
  margin-top: 40px;
  overflow: hidden;

  @media screen and (max-width: $mobile) {
    display: block;
  }
}
.contentStyle {
  background: rgba(255, 255, 255, 0);
  width: 80%;
  border: none;
}
